<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header }}
    <p><a href="https://github.com/ppdtest/node-course-2-web-server">my github</a></p>

    {{> footer}}
  </body>
</html>
